.button-container {
  display: flex;
}

.button-button {
  width: 7.5rem;
  min-height: 4.75rem;
  font-size: 1.2rem;
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  font-family: var(--font-family);
  margin: 1rem;

  background-color: var(--button-color);
  color: var(--color-white);
  box-shadow: var(--box-shadow);
}
